.chat-container {
  height: 400px;
  width: 400px;
  padding-left: 0px;
  position: relative;
}
ul.chat-item-list {
  height: 300px;
  overflow-y: scroll;
  overflow-x: none;
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}
.chat-item {
  margin-bottom: 5px;
  min-height: 50px;
  background-color: #F1F1F1;
}
.chat-form {
  height: 90px;
  padding: 5px;
}
.chat-form textarea, .chat-form input {
  height: 70px;
}
.chat-form input[type=submit] {
  width: 80px;
}
.chat-form textarea {
  width: 300px;
  vertical-align: middle;
  margin-right: 5px;
}
.chat-item img {
  width: 40px;
  float: left;
  clear: left;
}
.chat-item .chat-text {
  
}
